<header>
  <div class="header-container">
    <nav>
      <input id="menu-toggle" type="checkbox" />
      <label class="menu-hamburger-container" for="menu-toggle">
        <div class="hamburger-icon">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </label>
      <ul class="menu">
        <li><a href="/index.html">À la une</a></li>
        <li><a href="/focus.html">Dossiers</a></li>
        <li><a href="/event.html">Évènements</a></li>
        <li><a href="/partners.html">Participatif</a></li>
        <li><a href="/quest.html">Interrogations</a></li>
        <li><a href="/about.html">À propos</a></li>
      </ul>
    </nav>
    <div class="site-logo">
      <div class="img"><a href="https://inicitoy.toile-libre.org" aria-label="accueil"></a></div>
    </div>
    <div class="vide"></div>
  </div>
</header>
