// global
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  padding: revert;

  li {
    padding: 0.2rem 0;
  }
}

body {
  font-family: $font-normal;
  font-size: clamp(0.95rem, 1.1vw, 1.2rem);
  line-height: 1.7;
  background: var(--bg-body);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-title;
  color: var(--color-title);
  line-height: normal;
  padding-bottom: 0.9rem;
}

p {
  padding-bottom: 0.8rem;
}

h1 {
  font-size: clamp(1.1rem, 1.8vw, 1.6rem);
  letter-spacing: 3px;
  font-variant-caps: petite-caps;
  padding-bottom: 0;
}

h2 {
  font-size: clamp(1rem, 1.6vw, 1.45rem);
  letter-spacing: 1px;
}
h3 {
  font-size: max(1.15vw, 0.9rem);
  letter-spacing: 2px;
  font-variant-caps: petite-caps;
  padding-top: 5px;
}
h5 {
  text-transform: uppercase;
  font-size: 0.8rem;
  color: #a3a3a3;
}
h6 {
  padding-bottom: 0;
}

strong {
  color: var(--color-strong);
  font-family: $font-title;
}

.titre {
  font-variant-caps: petite-caps;
  margin-left: 5px;
  padding: 2px 13px;
  background: $navbtn;
  border: none;
  color: $black;
}

// grid et float pour tout le projet
// textOnly pour la page about.
.textOnly {
  display: grid;
  padding: 15px;
  align-items: center;

  &.tableau {
    grid-template-columns: 60% 38%;
    gap: 2%;
  }
}

.grid {
  display: grid;
  gap: 3%;
  align-items: center;
  
  img, iframe {
    width: 100%;
  }
  iframe {
    aspect-ratio: 16/9;
  }

  &32 {
    grid-template-columns: 32% 65%;
  }
  &42 {
    grid-template-columns: 42% 55%;
  }
  &60 {
    grid-template-columns: 60% 37%;
  }
  &2img {
    grid-template-columns: 1fr 1fr;
    gap: 0;
  }
  &Space {
    align-content: space-evenly;
    justify-content: space-evenly;
  }

  @media (width <= 600px) {
    &32, 
    &42, 
    &60,
    &2img {
      grid-template-columns: 1fr;
      gap: 0;
    }
  }
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;

  &.col {
    flex-direction: column;
  }
}

.float {
  max-width: 50%;

  &-left {
    float: left;
    margin: 0.6rem 20px 3px 0;
  }
  &-right {
    float: right;
    margin: 0.6rem 0 3px 20px;
  }
  img {
    width: 100%;
  }
}

.mainPattern {
  display: grid;
  grid-template-columns: 74% calc(26% - 20px);
  gap: 20px;

  @media (width <= 760px) {
    grid-template-columns: 1fr;
    gap: 0;
  }
}

// titre sur une image de fond
.imgMain {
  position: relative;
  object-fit: scale-down;

  // référence de l'article (ex traduction depuis Science)
  .reference {
    position: absolute;
    left: 15px;
    bottom: 15px;
    padding: 5px 10px;
    margin: 0;
    background: rgba(7, 39, 8, 0.6);
  }

  .title-pg {
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translateX(-50%) translateY(-50%);
    width: 80%;
    text-align: center;
    background: rgba(7, 39, 8, 0.5);
    padding: 15px;

    font-size: max(min(1.6vw, 1.7rem), 1.1rem);
    letter-spacing: 3px;
    color: #f5f5f5;

    @media (width <= 760px) {
      width: 95%;
      letter-spacing: 1px;
    }
  }
}

.trimTxt {
  .toggle-input {
    display: none;

    &:checked ~ .fullTxt {
      max-height: 1600px; // Ajustez cette valeur en fonction de la longueur de votre contenu
      transition: max-height 0.5s ease-in-out;
    }

    &:checked ~ .toggle-label .label-text {
      &::after {
        content: "⏶    réduire    ⏶";
      }
    }
  }

  .toggle-label {
    display: block; // Changé à block pour que l'ancre soit sur une nouvelle ligne
    cursor: pointer;
    background: #ff440028;
    color: #443d3d;
    font-size: 1rem;
    text-align: center;
    margin-top: 10px; // Ajouté une marge supérieure pour séparer l'ancre du texte

    .label-text {
      &::after {
        content: "⏷    tout voir    ⏷";
      }
    }
  }

  .fullTxt {
    max-height: 320px; // Affichage minimum au départ
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
  }
}