@font-face {
  font-family: "Noto";
  src: url(../fonts/NotoSans-Light.ttf);
}
@font-face {
  font-family: "Noto-b";
  src: url(../fonts/NotoSans-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

li {
  list-style: none;
}

body {
  font-family: "Noto", sans-serif;
  font-size: max(1vw, 0.9rem);
  line-height: 1.6;
  background: #072508;
  color: #FFFEFE;
  min-height: 100vh;
}
body a {
  color: #48aeff;
  text-decoration: none;
}
body a:hover, body a:focus, body a:active {
  color: darkblue;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Noto-b", sans-serif;
  line-height: normal;
  color: #00d668;
}

p,
h2,
h4,
h5 {
  padding-bottom: 15px;
}

h1 {
  font-size: max(min(1.6vw, 1.7rem), 1.1rem);
  letter-spacing: 3px;
  font-variant-caps: petite-caps;
}

h2 {
  font-size: max(1.35vw, 1rem);
  letter-spacing: 1px;
}

h3 {
  font-size: max(1.15vw, 0.9rem);
  letter-spacing: 2px;
  font-variant-caps: petite-caps;
  padding-bottom: 5px;
}

h5 {
  text-transform: uppercase;
  font-size: 0.8rem;
  color: #a3a3a3;
}

header {
  max-width: max(60%, 1200px);
  margin: 20px auto 30px;
  background: #3a3a3a;
  color: #FFFEFE;
  border-radius: 2px;
  height: 120px;
  position: relative;
}
@media screen and (max-width: 1200px) {
  header {
    margin: 2vw;
  }
}
@media screen and (max-width: 700px) {
  header {
    height: auto;
  }
}
header .header-container {
  display: grid;
  grid-template-columns: calc(74% + 20px) calc(26% - 20px) 0;
  height: auto;
}
@media screen and (max-width: 700px) {
  header .header-container {
    grid-template-columns: 34% 32% 34%;
  }
}
header .header-container nav .menu-hamburger-container {
  display: none;
  position: absolute;
  left: 10px;
  bottom: 10px;
  background: #a5c3a1 linear-gradient(80deg, #a5c3a1 0%, #b2d9ac 14%, #f2fff0 100%);
  height: 30px;
  width: 2rem;
  cursor: pointer;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 3px;
}
@media (max-width: 700px) {
  header .header-container nav .menu-hamburger-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
header .header-container nav #menu-toggle {
  display: none;
}
header .header-container nav .hamburger-icon span {
  display: block;
  background-color: #111111;
  position: absolute;
  left: 0.3rem;
  height: 3px;
  width: 1.4rem;
  -webkit-transition: -webkit-transform 400ms ease-in-out;
  transition: -webkit-transform 400ms ease-in-out;
  transition: transform 400ms ease-in-out;
  transition: transform 400ms ease-in-out, -webkit-transform 400ms ease-in-out;
  border-radius: 2px;
}
header .header-container nav .hamburger-icon span:nth-child(1) {
  content: "";
  margin-top: -7px;
}
header .header-container nav .hamburger-icon span:nth-child(3) {
  content: "";
  margin-top: 7px;
}
header .header-container nav #menu-toggle:checked + .menu-hamburger-container span:nth-child(1) {
  margin-top: 0px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
header .header-container nav #menu-toggle:checked + .menu-hamburger-container span:nth-child(2) {
  opacity: 0;
}
header .header-container nav #menu-toggle:checked + .menu-hamburger-container span:nth-child(3) {
  margin-top: 0px;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}
header .header-container nav #menu-toggle:checked + .menu-hamburger-container, header .header-container nav .menu-hamburger-container:hover {
  background: #609959 linear-gradient(220deg, #33c138 0%, #759370 29%, #00e309 100%);
}
header .header-container nav .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: 5px;
  bottom: -10px;
}
header .header-container nav .menu li {
  margin-left: 5px;
  padding: 2px 13px;
  background: #a5c3a1 linear-gradient(80deg, #a5c3a1 0%, #b2d9ac 14%, #f2fff0 100%);
  border: none;
  cursor: pointer;
}
header .header-container nav .menu li a {
  font-variant-caps: petite-caps;
  font-family: "Noto-b", sans-serif;
  font-size: max(1vw, 0.9rem);
  color: #111111;
}
header .header-container nav .menu li:nth-child(1), header .header-container nav .menu li:hover {
  background: #609959 linear-gradient(220deg, #33c138 0%, #759370 29%, #00e309 100%);
}
header .header-container nav .menu li:nth-child(1) a, header .header-container nav .menu li:hover a {
  color: #FFFEFE;
}
@media screen and (max-width: 700px) {
  header .header-container nav .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    top: calc(100% - 10px);
  }
  header .header-container nav #menu-toggle ~ .menu li {
    height: 0;
    padding: 0;
    border: 0;
    -webkit-transition: height 0.4s ease-in-out;
    transition: height 0.4s ease-in-out;
  }
  header .header-container nav #menu-toggle ~ .menu li a {
    display: none;
  }
  header .header-container nav #menu-toggle:checked ~ .menu li {
    height: 40px;
    padding: 5px 14px;
    -webkit-transition: height 0.4s ease-in-out;
    transition: height 0.4s ease-in-out;
  }
  header .header-container nav #menu-toggle:checked ~ .menu li a {
    display: initial;
  }
}
header .header-container .site-logo a {
  display: block;
  background: url(./../../assets/img/logo_dark.svg) center/contain no-repeat;
  margin: 8px;
  height: 100px;
}
@media screen and (max-width: 700px) {
  header .header-container .site-logo a {
    height: 70px;
    margin: 4px;
  }
}

main {
  max-width: max(60%, 1200px);
  margin: 10px auto 0;
  min-height: 75vh;
  display: grid;
  grid-template-columns: 74% calc(26% - 20px);
  gap: 20px;
}
@media screen and (max-width: 1200px) {
  main {
    margin: 20px 2vw;
  }
}
@media screen and (max-width: 700px) {
  main {
    margin: 15px 2vw;
    grid-template-columns: 1fr;
  }
  main .title, main #sommaire {
    display: none;
  }
  main .box {
    margin-bottom: 15px;
    padding: 20px;
  }
}
main .ref {
  font-size: smaller;
  text-align: center;
}
main .title {
  position: absolute;
  top: calc(70px - 1.5vw);
  left: calc(50% - 570px);
}
@media screen and (max-width: 1200px) {
  main .title {
    left: calc(50% - 45vw);
  }
}
main .grid {
  display: grid;
  gap: 2%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
main .grid img {
  width: 100%;
}
main .grid32 {
  grid-template-columns: 32% 66%;
}
main .grid42 {
  grid-template-columns: 42% 56%;
}
main .grid60 {
  grid-template-columns: 60% 38%;
}
main .gridpicto {
  grid-template-columns: 18.4% 18.4% 18.4% 18.4% 18.4%;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
main .gridpicto p {
  padding: 15px 0;
}
main .gridpicto img {
  width: 80%;
  height: 80%;
}
main .float {
  float: left;
  width: 23%;
  margin: 0 20px 4px 0;
}
main .float img {
  width: 100%;
}
@media screen and (max-width: 600px) {
  main .grid32,
  main .grid42,
  main .grid60 {
    grid-template-columns: 1fr;
  }
  main .gridpicto {
    grid-template-columns: 32% 32% 32%;
  }
}
main .box {
  padding: 30px;
  background: #3a3a3a;
  color: #FFFEFE;
  border-radius: 2px;
  margin-bottom: 20px;
}
main li {
  margin: 7px 0;
}
main .puces ul {
  padding: 0 0 8px 35px;
}
main .puces li {
  list-style: initial;
  margin: 0;
}
main a, main a:focus, main a:checked {
  color: #48aeff;
  font-weight: bold;
}
main a:hover {
  color: #00d668;
  font-weight: bold;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
main #sommaire a {
  font-size: smaller;
}
main #sommaire li {
  line-height: normal;
  margin-bottom: 12px;
}

footer {
  max-width: max(60%, 1200px);
  margin: 0 auto 30px;
  position: relative;
  background: #3a3a3a;
  color: #FFFEFE;
  border-radius: 2px;
}
footer .copyright-bar {
  text-align: center;
  padding: 1.2vh 0;
  font-size: smaller;
  font-variant-caps: petite-caps;
}
@media screen and (max-width: 1200px) {
  footer {
    margin: 10px 2vw 30px;
  }
}/*# sourceMappingURL=index.css.map */