:root {
  --swiper-pagination-bullet-inactive-color: #89ac78;
  --swiper-pagination-bullet-inactive-opacity: 0.5;
  --swiper-pagination-bullet-horizontal-gap: 6px;
  --swiper-navigation-size: 34px;
  --strong-color: unset;
}

.swiper {
  width: 100%;
  max-height: 600px;
  background: url(../../assets/img/f_002-street-7414680.webp) center/cover;
}

.swiper-slide {
  color: #fff;
  box-sizing: border-box;
  padding: 0 40px;
  
  @media (width <= 550px) {
    line-height: 1.4;
    
    p {
      margin-bottom: 0.8em;
    }
    h2, h3 {
      line-height: 1.1;
    }
  }
  .subtitle {
    padding: 20px 0;
  }
  h2, h3 {
    text-wrap: balance;
    font-family: var(--font-normal);
    color: var(--white);
  }
  h2 {
    font-size: 1.6em;
    font-weight: 100;
  }
  h3 {
    font-size: 1.2em;
    padding-left: 10px;
    margin-bottom: 0.2em;
  }
  p {
    font-size: 1em;
    font-weight: 400;
    padding-left: 30px;
    
    .small {
      font-size: smaller;
      font-style: italic;
    }
    .retrait {
      padding-left: 20px;
      margin-left: 10px;
      font-size: smaller;
      border-left: #fff solid 6px;
    }
    &.right {
      text-align: right;
    }
  }
  .tableau {
    display: grid;
    grid-template-columns: 60% 38%;
    gap: 1%;
    background: var(--swiper-tabl-bg);
    padding: 15px;

    p {
      padding: initial;
      color: var(--black);
    }
  } 
    
    
  @media (width <= 600px) {
    padding: 20px;
    
    .subtitle {
      padding: 10px 0;
    }
    p {
      padding-left: 20px;

      &.top {
        margin-top: 0.5rem;
      }
    }
  }
}