@charset "UTF-8";
:root {
  --white: #eee;
  --black: #111;
  --navbtn: #a5c3a1 linear-gradient(80deg, #a5c3a1 0%, #b2d9ac 14%, #f2fff0 100%);
  --navbtn-active: #609959 linear-gradient(220deg, #33c138 0%, #759370 29%, #00e309 100%);
  --logo: url(../img/logo.svg);
  --logoSmall: url(../img/logo-small.svg);
  --link: #4040ff;
  --linkfocus: #087480;
  --strong-color: #3d6526;
  --txt-color: var(--black);
  --body-bg: #3a3a3a;
  --title-color: #27742a;
  --box-bg: papayawhip;
  --box-shadow: none;
  --swiper-tabl-bg: rgba(167, 247, 170, 0.8);
  --font-normal: noto_sanslight, sans-serif;
  --font-title: noto_sansregular, sans-serif;
}
@font-face {
  font-family: "noto_sanslight";
  src: url("../fonts/notosans-light-webfont.woff2") format("woff2"), url("../fonts/notosans-light-webfont.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "noto_sansregular";
  src: url("../fonts/notosans-regular.woff2") format("woff2"), url("../fonts/notosans-regular.woff") format("woff");
  font-display: swap;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  background: var(--body-bg);
  color: var(--txt-color);
  font-family: var(--font-normal);
  font-size: clamp(0.95rem, 1.1vw, 1.2rem);
  line-height: 1.7;
}
body a, body a:visited, body a strong {
  color: var(--link);
  text-decoration: none;
  font-weight: bold;
}
body a, body a strong {
  transition: font-size 0.2s ease-in-out;
}
body a img, body a strong img {
  transition: transform 0.2s ease-in-out;
  transform: scale(1); /* Ajout d'un transform initial */
}
body a:hover, body a:focus, body a:active, body a:hover strong, body a:focus strong, body a:active strong {
  color: var(--linkfocus);
  text-decoration: underline;
  font-size: 105%;
}
body a:hover img, body a:focus img, body a:active img, body a:hover strong img, body a:focus strong img, body a:active strong img {
  transform: scale(1.05);
}

main ul {
  padding-left: 15px;
  margin-bottom: 0.7em;
}
main ul li {
  margin: 0.4em 0;
}
main ul li::before {
  content: "";
  display: inline-block;
  width: 0.5em;
  height: 0.6em;
  background: var(--title-color);
  margin-right: 0.7em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-title);
  color: var(--title-color);
  text-wrap: balance;
  font-variant: small-caps;
  line-height: normal;
}

h2, h3, h4 {
  margin: 1em 0 0.5em;
}

h1 {
  font-size: 1.35em;
  letter-spacing: 3px;
}

h2 {
  font-size: 1.25em;
  letter-spacing: 2px;
}

h3 {
  font-size: 1.15em;
  letter-spacing: 2px;
}

h4 {
  font-size: 1em;
}

h5 {
  font-size: 0.9em;
  margin: -0.6em 0 0.5em;
}

h6 {
  font-size: 0.7em;
  font-variant: unset;
}
@media (width <= 780px) {
  h6 {
    margin: 1em 0 0;
  }
}

p {
  font-size: 1em;
  margin-bottom: 1em;
}

figcaption {
  font-size: small;
  font-style: italic;
  text-align: center;
  text-wrap: pretty;
}

strong {
  color: var(--strong-color);
  font-family: var(--font-title);
}

svg {
  fill: currentcolor;
}
svg.icon {
  height: 1.25em;
  width: 1.25em;
}

.svgAlign {
  display: inline-flex;
  align-items: flex-end;
}

header {
  background: var(--box-bg);
}
header .header-box {
  max-width: max(60%, 1200px);
  margin: 0 auto;
  display: grid;
  grid-template-columns: 74% 24%;
  gap: 2%;
}
@media (width <= 1250px) {
  header .header-box {
    margin: 0 4vw 20px;
  }
}
header .header-box .btn {
  display: inline-block;
  position: relative;
  padding: 0.3em 1.1em;
  font-size: 1em;
  cursor: pointer;
  border: 0;
  overflow: hidden;
  border-radius: 30px;
  transition: box-shadow 0.2s;
}
header .header-box .btn::before {
  content: "";
  position: absolute;
  top: -100px;
  left: -120px;
  width: 400px;
  height: 350px;
  background: #33592e linear-gradient(8deg, #041a05 0%, #70a666 49%, #2a2b03 100%);
  z-index: -1;
  transition: transform 0.5s;
  transform: rotate(100deg);
}
header .header-box .btn:hover::before {
  transform: rotate(0deg);
}
header .header-box .btn._text {
  color: var(--white);
  position: relative;
  z-index: 1;
}
header .header-box .displayBtn {
  display: flex;
}
header .header-box .displayBtn em {
  padding: 0.4em 0 0 0.9em;
}
header .header-box .displayBtn h1 {
  padding: 0.1em 0 0 0.5em;
}
@media (width <= 640px) {
  header .header-box .displayBtn h1 {
    padding: 0 0 15px 0;
    font-size: small;
  }
}
@media (width <= 640px) {
  header .header-box .displayBtn {
    flex-direction: column;
  }
}
@media (width <= 780px) {
  header .header-box {
    height: auto;
    grid-template-columns: 58% 40%;
    gap: 1%;
  }
}
header .header-box .site-logo a {
  display: block;
  margin: 8px 8px 8px 0;
  height: max(45px, 2.4em);
  background: var(--logoSmall) no-repeat right/contain;
}
@media (width <= 780px) {
  header .header-box .site-logo a {
    margin: 4px 6px 4px 0;
  }
}

html::before {
  content: "";
  width: 100%;
  z-index: -1;
  top: 0;
}

body {
  opacity: 0.01; /* Initial opacity set to 0 */
  transform: translateX(50%);
}

body.loaded {
  transition: all 0.9s ease-in-out;
  transform: translateX(0);
  opacity: 1; /* Final opacity set to 1 */
}

main {
  min-height: 81.5vh;
}

.mainPattern {
  display: grid;
  grid-template-columns: 74% calc(26% - 20px);
  gap: 20px;
}
@media (width <= 780px) {
  .mainPattern {
    grid-template-columns: 1fr;
    gap: 0;
  }
}

main {
  max-width: max(60%, 1200px);
  margin: 20px auto 24px;
}
@media (width <= 1250px) {
  main {
    margin: 16px 4vw 20px;
  }
}
main .box {
  padding: 2em;
  background: var(--box-bg);
  box-shadow: var(--box-shadow);
  border-radius: 2px;
  margin-bottom: 20px;
}
main .box h2, main .box h3 {
  margin-top: 0;
}
main .box img {
  width: initial;
  max-width: 100%;
}
@media (width <= 780px) {
  main .box {
    padding: 1.4em;
  }
}
main #sommaire p {
  font-size: smaller;
  line-height: normal;
  padding: 0.2em 0 0;
}
main .grid {
  display: grid;
  gap: 3%;
  align-items: center;
}
main .grid img, main .grid iframe {
  width: 100%;
}
main .grid.g30 {
  grid-template-columns: 30% 67%;
}
main .grid.g42 {
  grid-template-columns: 42% 55%;
}
main .grid.g60 {
  grid-template-columns: 60% 37%;
}
main .grid.event {
  grid-template-columns: 37% 63%;
  gap: 0;
  border-radius: 6px;
  background: #3e1c0c;
  margin-bottom: 1em;
  box-shadow: 5px 4px 8px 3px #b1aba8;
}
main .grid.event p {
  font-size: 90%;
  color: var(--white);
  text-align: center;
  font-weight: bold;
  padding: 15px 15px 8px;
  margin: 0;
}
main .grid.twin-img {
  grid-template-columns: 1fr 1fr;
  gap: 0;
}
main .grid.triple {
  grid-template-columns: 1fr 1fr 1fr;
}
@media (width <= 600px) {
  main .grid.g30, main .grid.g42, main .grid.g60, main .grid.event, main .grid.twin-img, main .grid.triple {
    grid-template-columns: 1fr;
    gap: 0;
  }
}
main .trimTxt .toggle-input {
  display: none;
}
main .trimTxt .toggle-input:checked ~ .fullTxt {
  max-height: -moz-fit-content;
  max-height: fit-content;
  transition: max-height 0.5s ease-in-out;
}
main .trimTxt .toggle-input:checked ~ .fullTxt::after {
  background: none;
}
main .trimTxt .toggle-input:checked ~ .toggle-label .label-text::after {
  content: "↑    réduire    ↑";
}
main .trimTxt .toggle-label {
  display: block;
  cursor: pointer;
  background: rgba(255, 68, 0, 0.1568627451);
  color: #443d3d;
  font-size: 1rem;
  text-align: center;
}
main .trimTxt .toggle-label .label-text::after {
  content: "↓    tout voir    ↓";
}
main .trimTxt .fullTxt {
  max-height: 320px;
  overflow: hidden;
  position: relative;
  transition: max-height 0.5s ease-in-out;
}
main .trimTxt .fullTxt::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 4rem;
  background: linear-gradient(to bottom, rgb(from var(--box-bg) r g b/20%), rgb(from var(--box-bg) r g b/80%));
}

footer {
  padding: 0.7em 0 30px;
  background: var(--box-bg);
}
footer .copyright-bar {
  text-align: center;
  font-size: smaller;
  font-variant: small-caps;
  letter-spacing: 1px;
}
footer .copyright-bar a {
  color: currentColor !important;
  font-weight: normal !important;
}/*# sourceMappingURL=pg-focus.css.map */