@font-face {
  font-family: "Noto";
  src: url(../fonts/NotoSans-Light.ttf);
}
@font-face {
  font-family: "Noto-b";
  src: url(../fonts/NotoSans-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

li {
  list-style: none;
}

body {
  font-family: "Noto", sans-serif;
  font-size: max(1vw, 0.9rem);
  line-height: 1.6;
  background: #072508;
  color: #FFFEFE;
  min-height: 100vh;
}
body a {
  color: #48aeff;
  text-decoration: none;
}
body a:hover, body a:focus, body a:active {
  color: darkblue;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Noto-b", sans-serif;
  line-height: normal;
  color: #00d668;
}

p,
h2,
h4,
h5 {
  padding-bottom: 15px;
}

h1 {
  font-size: max(min(1.6vw, 1.7rem), 1.1rem);
  letter-spacing: 3px;
  font-variant-caps: petite-caps;
}

h2 {
  font-size: max(1.35vw, 1rem);
  letter-spacing: 1px;
}

h3 {
  font-size: max(1.15vw, 0.9rem);
  letter-spacing: 2px;
  font-variant-caps: petite-caps;
  padding-bottom: 5px;
}

h5 {
  text-transform: uppercase;
  font-size: 0.8rem;
  color: #a3a3a3;
}

.body-container {
  -webkit-animation: fadein 2s ease;
          animation: fadein 2s ease;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}
.body-container p {
  text-align: justify;
  line-height: 1.8;
  padding-bottom: 30px;
}
@-webkit-keyframes fadein {
  from {
    opacity: 0;
    scale: 0.7;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}
@keyframes fadein {
  from {
    opacity: 0;
    scale: 0.7;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}

header .nav-pg-retour {
  max-width: max(60%, 1200px);
  margin: 15px auto;
  padding: 0;
  display: grid;
  grid-template-columns: 78% 20%;
  gap: 2%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: inset 0px -1px 0px #08590b;
          box-shadow: inset 0px -1px 0px #08590b;
}
@media screen and (max-width: 1250px) {
  header .nav-pg-retour {
    margin: 15px 4vw;
  }
}
header .nav-pg-retour .btn-retour {
  display: inline-block;
  background: #a5c3a1 linear-gradient(80deg, #a5c3a1 0%, #b2d9ac 14%, #f2fff0 100%);
  font-weight: bold;
  padding: 2px 8px;
}
@media screen and (max-width: 700px) {
  header .nav-pg-retour .btn-retour {
    font-size: 0.7rem;
    padding: 1px 6px;
  }
}
header .nav-pg-retour .btn-retour a {
  color: #111111;
}
header .nav-pg-retour .btn-retour:hover {
  background: #609959 linear-gradient(220deg, #33c138 0%, #759370 29%, #00e309 100%);
}
header .nav-pg-retour .btn-retour:hover a {
  color: #FFFEFE;
}
header .nav-pg-retour h1 {
  padding-bottom: 15px;
}
header .nav-pg-retour .site-logo a {
  display: block;
  background: url(./../../assets/img/logo_dark.svg) center/contain no-repeat;
  margin: 8px;
  height: 80px;
}
@media screen and (max-width: 700px) {
  header .nav-pg-retour .site-logo a {
    height: 50px;
    margin: 4px;
  }
}

.nav-sub {
  max-width: max(60%, 1200px);
  margin: 0 auto;
  padding: 0;
}
@media screen and (max-width: 1250px) {
  .nav-sub {
    margin: O 4vw;
  }
}
.nav-sub .sous-titre {
  padding-left: 15px;
  font-weight: bold;
  color: #FFFEFE;
}

main {
  max-width: max(60%, 1200px);
  margin: 10px auto 0;
  min-height: 75vh;
  display: grid;
  grid-template-columns: 1fr;
}
@media screen and (max-width: 1200px) {
  main {
    margin: 20px 2vw;
  }
}
@media screen and (max-width: 700px) {
  main {
    margin: 15px 2vw;
    grid-template-columns: 1fr;
  }
  main .title, main #sommaire {
    display: none;
  }
  main .box {
    margin-bottom: 15px;
    padding: 20px;
  }
}
main .ref {
  font-size: smaller;
  text-align: center;
}
main .title {
  position: absolute;
  top: calc(70px - 1.5vw);
  left: calc(50% - 570px);
}
@media screen and (max-width: 1200px) {
  main .title {
    left: calc(50% - 45vw);
  }
}
main .grid {
  display: grid;
  gap: 2%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
main .grid img {
  width: 100%;
}
main .grid32 {
  grid-template-columns: 32% 66%;
}
main .grid42 {
  grid-template-columns: 42% 56%;
}
main .grid60 {
  grid-template-columns: 60% 38%;
}
main .gridpicto {
  grid-template-columns: 18.4% 18.4% 18.4% 18.4% 18.4%;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
main .gridpicto p {
  padding: 15px 0;
}
main .gridpicto img {
  width: 80%;
  height: 80%;
}
main .float {
  float: left;
  width: 23%;
  margin: 0 20px 4px 0;
}
main .float img {
  width: 100%;
}
@media screen and (max-width: 600px) {
  main .grid32,
  main .grid42,
  main .grid60 {
    grid-template-columns: 1fr;
  }
  main .gridpicto {
    grid-template-columns: 32% 32% 32%;
  }
}
main .box {
  padding: 30px;
  background: #3a3a3a;
  color: #FFFEFE;
  border-radius: 2px;
  margin-bottom: 20px;
}
main li {
  margin: 7px 0;
}
main .puces ul {
  padding: 0 0 8px 35px;
}
main .puces li {
  list-style: initial;
  margin: 0;
}
main a, main a:focus, main a:checked {
  color: #48aeff;
  font-weight: bold;
}
main a:hover {
  color: #00d668;
  font-weight: bold;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
main #sommaire a {
  font-size: smaller;
}
main #sommaire li {
  line-height: normal;
  margin-bottom: 12px;
}

footer {
  max-width: max(60%, 1200px);
  margin: 0 auto 30px;
  position: relative;
  background: #3a3a3a;
  color: #FFFEFE;
  border-radius: 2px;
}
footer .copyright-bar {
  text-align: center;
  padding: 1.2vh 0;
  font-size: smaller;
  font-variant-caps: petite-caps;
}
@media screen and (max-width: 1200px) {
  footer {
    margin: 10px 2vw 30px;
  }
}/*# sourceMappingURL=pg.css.map */