html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "Noto";
  src: url(../fonts/NotoSans-Light.ttf);
  font-display: swap;
}
@font-face {
  font-family: "Noto-b";
  src: url(../fonts/NotoSans-Regular.ttf);
  font-display: swap;
}
:root .about {
  background: #3a3a3a;
  --color-title: #00d668;
  --bg-box: #072508;
  --shadow-box: none;
}
:root .about nav li:nth-child(1), :root .about nav li:hover {
  background: #609959 linear-gradient(220deg, #33c138 0%, #759370 29%, #00e309 100%);
}
:root .about nav li:nth-child(1) a, :root .about nav li:hover a {
  color: #eee;
}
:root .index {
  background: #072508;
  --color-title: #00d668;
  --bg-box: #3a3a3a;
  --shadow-box: none;
}
:root .index nav li:nth-child(2), :root .index nav li:hover {
  background: #609959 linear-gradient(220deg, #33c138 0%, #759370 29%, #00e309 100%);
}
:root .index nav li:nth-child(2) a, :root .index nav li:hover a {
  color: #eee;
}
:root .focus {
  background: #3a3a3a;
  color: #111;
  --color-title: #27742a;
  --bg-box: papayawhip;
  --shadow-box: none;
}
:root .focus nav li:nth-child(3), :root .focus nav li:hover {
  background: #609959 linear-gradient(220deg, #33c138 0%, #759370 29%, #00e309 100%);
}
:root .focus nav li:nth-child(3) a, :root .focus nav li:hover a {
  color: #eee;
}
:root .event {
  background: #592913;
  color: #111;
  --color-title: #27742a;
  --bg-box: antiquewhite;
  --shadow-box: -1px 17px 20px 10px #bb52227a;
}
:root .event nav li:nth-child(4), :root .event nav li:hover {
  background: #609959 linear-gradient(220deg, #33c138 0%, #759370 29%, #00e309 100%);
}
:root .event nav li:nth-child(4) a, :root .event nav li:hover a {
  color: #eee;
}
:root .partners {
  background: #041429;
  --color-title: #00d668;
  --bg-box: #302b3f;
  --shadow-box: none;
}
:root .partners nav li:nth-child(5), :root .partners nav li:hover {
  background: #609959 linear-gradient(220deg, #33c138 0%, #759370 29%, #00e309 100%);
}
:root .partners nav li:nth-child(5) a, :root .partners nav li:hover a {
  color: #eee;
}
:root .quest {
  background: #751111;
  --color-title: #00d668;
  --bg-box: #331616;
  --shadow-box: none;
}
:root .quest nav li:nth-child(6), :root .quest nav li:hover {
  background: #609959 linear-gradient(220deg, #33c138 0%, #759370 29%, #00e309 100%);
}
:root .quest nav li:nth-child(6) a, :root .quest nav li:hover a {
  color: #eee;
}
:root .index, :root .partners, :root .quest, :root .about {
  color: #eee;
  --color-strong: #dbecd1;
}
:root .index a, :root .index a strong, :root .partners a, :root .partners a strong, :root .quest a, :root .quest a strong, :root .about a, :root .about a strong {
  color: #48aeff;
}
:root .index a:hover, :root .index a:focus, :root .index a:active, :root .index a:hover strong, :root .index a:focus strong, :root .index a:active strong, :root .partners a:hover, :root .partners a:focus, :root .partners a:active, :root .partners a:hover strong, :root .partners a:focus strong, :root .partners a:active strong, :root .quest a:hover, :root .quest a:focus, :root .quest a:active, :root .quest a:hover strong, :root .quest a:focus strong, :root .quest a:active strong, :root .about a:hover, :root .about a:focus, :root .about a:active, :root .about a:hover strong, :root .about a:focus strong, :root .about a:active strong {
  color: #00d668;
}
:root .focus, :root .event {
  color: #111;
  --color-strong: #3d6526;
}
:root .focus a, :root .focus a strong, :root .event a, :root .event a strong {
  color: blue;
}
:root .focus a:hover, :root .focus a:focus, :root .focus a:active, :root .focus a:hover strong, :root .focus a:focus strong, :root .focus a:active strong, :root .event a:hover, :root .event a:focus, :root .event a:active, :root .event a:hover strong, :root .event a:focus strong, :root .event a:active strong {
  color: darkblue;
}
:root .focus .body-container, :root .event .body-container {
  --shadow-box: none;
}
:root a {
  text-decoration: none;
  font-weight: bold;
}
:root a:hover, :root a:focus, :root a:active {
  text-decoration: underline;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  padding: revert;
  margin-bottom: 0.4rem;
}
ul li {
  padding: 0.2rem 0;
}

body {
  font-family: "Noto", sans-serif;
  font-size: max(1vw, 0.9rem);
  line-height: 1.8;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Noto-b", sans-serif;
  line-height: normal;
  color: var(--color-title);
}

p,
h2,
h4,
h5 {
  padding: 0.6rem 0;
}

h1 {
  font-size: max(min(1.6vw, 1.7rem), 1.1rem);
  letter-spacing: 3px;
  font-variant-caps: petite-caps;
}

h2 {
  font-size: max(1.35vw, 1rem);
  letter-spacing: 1px;
}

h3 {
  font-size: max(1.15vw, 0.9rem);
  letter-spacing: 2px;
  font-variant-caps: petite-caps;
  padding-bottom: 5px;
}

h5 {
  text-transform: uppercase;
  font-size: 0.8rem;
  color: #a3a3a3;
}

strong {
  color: var(--color-strong);
  font-family: "Noto-b", sans-serif;
}

.titre {
  font-variant-caps: petite-caps;
  margin-left: 5px;
  padding: 2px 13px;
  background: #a5c3a1 linear-gradient(80deg, #a5c3a1 0%, #b2d9ac 14%, #f2fff0 100%);
  border: none;
  color: #111;
}

.decal {
  padding-left: 20px;
}

.textOnly {
  display: grid;
  padding: 15px;
}

.grid {
  display: grid;
  gap: 3%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.grid img, .grid iframe {
  width: 100%;
}
.grid iframe {
  aspect-ratio: 16/9;
}

.gridSpace {
  -ms-flex-line-pack: space-evenly;
      align-content: space-evenly;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.grid32 {
  grid-template-columns: 32% 65%;
}

.grid42 {
  grid-template-columns: 42% 55%;
}

.grid60 {
  grid-template-columns: 60% 37%;
}

.grid2img {
  grid-template-columns: 1fr 1fr;
  gap: 0;
}

.gridpicto {
  grid-template-columns: 17.6% 17.6% 17.6% 17.6% 17.6%;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
.gridpicto p {
  padding: 15px 0;
}
.gridpicto img {
  width: 80%;
  height: 80%;
}

.float {
  float: left;
  margin: 0.6rem 20px 3px 0;
}

.float-right {
  float: right;
  margin: 0.6rem 0 3px 20px;
}

.float, .float-right {
  max-width: 50%;
}
.float img, .float-right img {
  width: 100%;
}

@media screen and (max-width: 600px) {
  .grid32,
  .grid42,
  .grid60,
  .grid2img {
    grid-template-columns: 1fr;
    margin-bottom: 4%;
  }
  .gridpicto {
    grid-template-columns: 30.3% 30.4% 30.3%;
  }
}
.mainPattern {
  display: grid;
  grid-template-columns: 74% calc(26% - 20px);
  gap: 20px;
}
@media screen and (max-width: 700px) {
  .mainPattern {
    grid-template-columns: 1fr;
    gap: 0;
  }
}

.imgMain {
  position: relative;
  -o-object-fit: scale-down;
     object-fit: scale-down;
}
.imgMain .reference {
  position: absolute;
  left: 15px;
  bottom: 15px;
  padding: 5px 10px;
  margin: 0;
  background: rgba(7, 39, 8, 0.6);
}
.imgMain .title-pg {
  position: absolute;
  left: 50%;
  top: 30%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  width: 80%;
  text-align: center;
  background: rgba(7, 39, 8, 0.5);
  padding: 15px;
  font-size: max(min(1.6vw, 1.7rem), 1.1rem);
  letter-spacing: 3px;
  color: #f5f5f5;
}
@media screen and (max-width: 700px) {
  .imgMain .title-pg {
    width: 95%;
    letter-spacing: 1px;
  }
}

:root .index, :root .partners, :root .quest, :root .about {
  --logo: url(/assets/img/logo_dark.svg) center/contain no-repeat;
}
:root .focus, :root .event {
  --logo: url(/assets/img/logo.svg) center/contain no-repeat;
}

header {
  max-width: max(60%, 1200px);
  margin: 20px auto 30px;
  background: var(--bg-box);
  -webkit-box-shadow: var(--shadow-box);
          box-shadow: var(--shadow-box);
  border-radius: 2px;
  height: 120px;
  position: relative;
}
@media screen and (max-width: 1200px) {
  header {
    margin: 2vw;
  }
}
@media screen and (max-width: 700px) {
  header {
    height: auto;
  }
}
header .header-container {
  display: grid;
  grid-template-columns: calc(74% + 20px) calc(26% - 20px) 0;
  height: auto;
}
@media screen and (max-width: 700px) {
  header .header-container {
    grid-template-columns: 34% 32% 34%;
  }
}
header .header-container nav .menu-hamburger-container {
  display: none;
  position: absolute;
  left: 15px;
  bottom: 30px;
  background: #a5c3a1 linear-gradient(80deg, #a5c3a1 0%, #b2d9ac 14%, #f2fff0 100%);
  height: 30px;
  width: 2rem;
  cursor: pointer;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 3px;
}
@media (max-width: 700px) {
  header .header-container nav .menu-hamburger-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
header .header-container nav #menu-toggle {
  display: none;
}
header .header-container nav .hamburger-icon span {
  display: block;
  background: #111;
  position: absolute;
  left: 0.3rem;
  height: 3px;
  width: 1.4rem;
  -webkit-transition: -webkit-transform 400ms ease-in-out;
  transition: -webkit-transform 400ms ease-in-out;
  transition: transform 400ms ease-in-out;
  transition: transform 400ms ease-in-out, -webkit-transform 400ms ease-in-out;
  border-radius: 2px;
}
header .header-container nav .hamburger-icon span:nth-child(1) {
  content: "";
  margin-top: -7px;
}
header .header-container nav .hamburger-icon span:nth-child(3) {
  content: "";
  margin-top: 7px;
}
header .header-container nav #menu-toggle:checked + .menu-hamburger-container span:nth-child(1) {
  margin-top: 0px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
header .header-container nav #menu-toggle:checked + .menu-hamburger-container span:nth-child(2) {
  opacity: 0;
}
header .header-container nav #menu-toggle:checked + .menu-hamburger-container span:nth-child(3) {
  margin-top: 0px;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}
header .header-container nav #menu-toggle:checked + .menu-hamburger-container, header .header-container nav .menu-hamburger-container:hover {
  background: #609959 linear-gradient(220deg, #33c138 0%, #759370 29%, #00e309 100%);
}
header .header-container nav .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: 10px;
  bottom: -12px;
  padding: 0;
}
header .header-container nav .menu li {
  margin-left: 5px;
  padding: 2px 13px;
  background: #a5c3a1 linear-gradient(80deg, #a5c3a1 0%, #b2d9ac 14%, #f2fff0 100%);
  border: none;
  list-style: none;
  cursor: pointer;
}
header .header-container nav .menu li a {
  font-variant-caps: petite-caps;
  font-family: "Noto-b", sans-serif;
  font-size: max(1vw, 0.9rem);
  font-weight: normal;
  color: #111;
}
header .header-container nav .menu li a:focus, header .header-container nav .menu li a:active, header .header-container nav .menu li a:hover {
  color: #eee;
  text-decoration: none;
}
@media screen and (max-width: 700px) {
  header .header-container nav .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    top: calc(100% - 10px);
  }
  header .header-container nav #menu-toggle ~ .menu li {
    height: 0;
    padding: 0;
    border: 0;
    -webkit-transition: height 0.4s ease-in-out;
    transition: height 0.4s ease-in-out;
  }
  header .header-container nav #menu-toggle ~ .menu li a {
    display: none;
  }
  header .header-container nav #menu-toggle:checked ~ .menu li {
    height: 40px;
    padding: 5px 14px;
    -webkit-transition: height 0.4s ease-in-out;
    transition: height 0.4s ease-in-out;
  }
  header .header-container nav #menu-toggle:checked ~ .menu li a {
    display: initial;
  }
}
header .header-container .site-logo a {
  display: block;
  margin: 8px;
  height: 100px;
  background: var(--logo);
}
@media screen and (max-width: 700px) {
  header .header-container .site-logo a {
    height: 70px;
    margin: 4px;
  }
}

:root .index, :root .partners, :root .quest, :root .about {
  --logo: url(/assets/img/logo_dark.svg) center/contain no-repeat;
}
:root .focus, :root .event {
  --logo: url(/assets/img/logo.svg) center/contain no-repeat;
}

header .nav-pg-retour {
  max-width: max(60%, 1200px);
  margin: 15px auto;
  padding: 0;
  display: grid;
  grid-template-columns: 77% 20%;
  gap: 3%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: inset 0px -1px 0px #08590b;
          box-shadow: inset 0px -1px 0px #08590b;
}
@media screen and (max-width: 1250px) {
  header .nav-pg-retour {
    margin: 15px 4vw;
  }
}
header .nav-pg-retour .btn-retour {
  display: inline-block;
  background: #a5c3a1 linear-gradient(80deg, #a5c3a1 0%, #b2d9ac 14%, #f2fff0 100%);
  font-weight: bold;
  padding: 2px 8px;
}
@media screen and (max-width: 700px) {
  header .nav-pg-retour .btn-retour {
    font-size: 0.7rem;
    padding: 1px 6px;
  }
}
header .nav-pg-retour .btn-retour a {
  color: #111;
}
header .nav-pg-retour .btn-retour:hover {
  background: #609959 linear-gradient(220deg, #33c138 0%, #759370 29%, #00e309 100%);
}
header .nav-pg-retour .btn-retour:hover a {
  color: #eee;
  text-decoration: none;
}
header .nav-pg-retour h1 {
  padding-bottom: 15px;
}
header .nav-pg-retour .site-logo a {
  display: block;
  background: var(--logo);
  margin: 8px;
  height: 80px;
}
@media screen and (max-width: 700px) {
  header .nav-pg-retour .site-logo a {
    height: 50px;
    margin: 4px;
  }
}

.nav-sub {
  max-width: max(60%, 1200px);
  margin: 0 auto;
  padding: 0;
}
@media screen and (max-width: 1250px) {
  .nav-sub {
    margin: O 4vw;
  }
}
.nav-sub .sous-titre {
  padding-left: 15px;
  font-weight: bold;
  color: #eee;
}

.title {
  max-width: max(60%, 1200px);
  position: absolute;
  top: calc(70px - 1.5vw);
  left: calc(50% - 570px);
}
@media screen and (max-width: 1200px) {
  .title {
    left: calc(50% - 44vw);
  }
}
@media screen and (max-width: 700px) {
  .title {
    top: 66px;
    left: calc(2vw + 15px);
  }
  .title h1 {
    display: none;
  }
}

main {
  max-width: max(60%, 1200px);
  margin: 10px auto 0;
  min-height: 72vh;
}
@media screen and (max-width: 1200px) {
  main {
    margin: 20px 2vw;
  }
}
@media screen and (max-width: 700px) {
  main {
    margin: 15px 2vw;
  }
  main #sommaire {
    display: none;
    margin: 0;
  }
  main .box {
    margin-bottom: 15px;
    padding: 20px;
  }
}
main .ref {
  font-size: smaller;
  text-align: center;
}
main .box {
  padding: 30px;
  background: var(--bg-box);
  -webkit-box-shadow: var(--shadow-box);
          box-shadow: var(--shadow-box);
  border-radius: 2px;
  margin-bottom: 20px;
}
main #sommaire a {
  font-size: smaller;
}
main #sommaire p {
  line-height: normal;
  padding: 0.3rem 0;
}

footer {
  max-width: max(60%, 1200px);
  margin: 20px auto;
  background: var(--bg-box);
  -webkit-box-shadow: var(--shadow-box);
          box-shadow: var(--shadow-box);
  border-radius: 2px;
}
footer .copyright-bar {
  text-align: center;
  padding: 1.2vh 0;
  font-size: smaller;
  font-variant-caps: petite-caps;
}
@media screen and (max-width: 1200px) {
  footer {
    margin: 10px 2vw 20px;
  }
}/*# sourceMappingURL=style.css.map */