:root {
  --white: #eee;
  --black: #111;
  --navbtn: #a5c3a1 linear-gradient(80deg, #a5c3a1 0%, #b2d9ac 14%, #f2fff0 100%);
  --navbtn-active: #609959 linear-gradient(220deg, #33c138 0%, #759370 29%, #00e309 100%);
  --logo: url(../img/logo.svg);
  --link: #4040ff;
  --linkfocus: #087480;
  --strong-color: #3d6526;
  --txt-color: var(--black);
  --body-bg: radial-gradient(#00fa9a, #001b1b);
  --title-color: #068686;
  --box-bg: #caffee;
  --box-shadow: none;
  --strong-color: #068686;
  --font-normal: noto_sanslight, sans-serif;
  --font-title: noto_sansregular, sans-serif;
}
@font-face {
  font-family: "noto_sanslight";
  src: url("../fonts/notosans-light-webfont.woff2") format("woff2"), url("../fonts/notosans-light-webfont.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "noto_sansregular";
  src: url("../fonts/notosans-regular.woff2") format("woff2"), url("../fonts/notosans-regular.woff") format("woff");
  font-display: swap;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
}

body {
  background: var(--body-bg);
  color: var(--txt-color);
  font-family: var(--font-normal);
  font-size: clamp(0.95rem, 1.1vw, 1.2rem);
  line-height: 1.7;
}
body a, body a:visited, body a strong {
  color: var(--link);
  text-decoration: none;
  font-weight: bold;
}
body a, body a strong {
  -webkit-transition: font-size 0.2s ease-in-out;
  transition: font-size 0.2s ease-in-out;
}
body a img, body a strong img {
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
  -webkit-transform: scale(1);
          transform: scale(1); /* Ajout d'un transform initial */
}
body a:hover, body a:focus, body a:active, body a:hover strong, body a:focus strong, body a:active strong {
  color: var(--linkfocus);
  text-decoration: underline;
  font-size: 105%;
}
body a:hover img, body a:focus img, body a:active img, body a:hover strong img, body a:focus strong img, body a:active strong img {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

main ul {
  padding-left: 15px;
  margin-bottom: 0.7em;
}
main ul li {
  margin: 0.4em 0;
}
main ul li::before {
  content: "";
  display: inline-block;
  width: 0.5em;
  height: 0.6em;
  background: var(--title-color);
  margin-right: 0.7em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-title);
  color: var(--title-color);
  text-wrap: balance;
  font-variant: small-caps;
  line-height: normal;
}

h2, h3, h4, h5 {
  margin: 1em 0 0.5em 0;
}

h1 {
  font-size: 1.35em;
  letter-spacing: 3px;
}

h2 {
  font-size: 1.25em;
  letter-spacing: 2px;
}

h3 {
  font-size: 1.15em;
  letter-spacing: 2px;
}

h4 {
  font-size: 1em;
}

h5 {
  font-size: 0.9em;
}

h6 {
  font-size: 0.7em;
  font-variant: unset;
}

p {
  font-size: 1em;
  margin-bottom: 1em;
}

strong {
  color: var(--strong-color);
  font-family: var(--font-title);
}

svg {
  fill: currentcolor;
}
svg.icon {
  height: 1.25em;
  width: 1.25em;
}

.svgAlign {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

header {
  background: var(--box-bg);
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
  border-radius: 2px;
  max-width: max(60%, 1200px);
  margin: 20px auto 24px;
}
@media (width <= 1250px) {
  header {
    margin: 16px 4vw 20px;
  }
}
@media (width <= 780px) {
  header {
    height: auto;
  }
}
header .header-box {
  display: grid;
  grid-template-columns: calc(74% + 20px) calc(26% - 20px) 0;
  position: relative;
}
@media (width <= 780px) {
  header .header-box {
    grid-template-columns: 32% 36% 32%;
  }
}
header .header-box .title {
  position: absolute;
  top: 25px;
  left: 15px;
  padding-left: 12px;
}
@media (width <= 780px) {
  header .header-box .title {
    padding-left: 3px;
    top: 48px;
  }
  header .header-box .title h1 {
    display: none;
  }
}
header .header-box nav .burgerBtn {
  display: none;
  position: absolute;
  left: 15px;
  bottom: 30px;
  background: var(--navbtn);
  height: 30px;
  width: 2rem;
  cursor: pointer;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 3px;
}
@media (width <= 780px) {
  header .header-box nav .burgerBtn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
header .header-box nav .burgerBtn_icon span {
  display: block;
  background: var(--black);
  position: absolute;
  left: 0.3rem;
  height: 3px;
  width: 1.4rem;
  -webkit-transition: -webkit-transform 400ms ease-in-out;
  transition: -webkit-transform 400ms ease-in-out;
  transition: transform 400ms ease-in-out;
  transition: transform 400ms ease-in-out, -webkit-transform 400ms ease-in-out;
  border-radius: 2px;
}
header .header-box nav .burgerBtn_icon span:nth-child(1) {
  content: "";
  margin-top: -7px;
}
header .header-box nav .burgerBtn_icon span:nth-child(3) {
  content: "";
  margin-top: 7px;
}
header .header-box nav .burgerBtn:hover {
  background: var(--navbtn-active);
}
header .header-box nav #burgerBtn-toggle {
  display: none;
}
header .header-box nav #burgerBtn-toggle:checked + .burgerBtn {
  background: var(--navbtn-active);
}
header .header-box nav #burgerBtn-toggle:checked + .burgerBtn span:nth-child(1) {
  margin-top: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
header .header-box nav #burgerBtn-toggle:checked + .burgerBtn span:nth-child(2) {
  opacity: 0;
}
header .header-box nav #burgerBtn-toggle:checked + .burgerBtn span:nth-child(3) {
  margin-top: 0;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}
header .header-box nav .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: 10px;
  bottom: -12px;
  padding: 0;
  z-index: 10;
}
header .header-box nav .menu a {
  margin-left: 5px;
  padding: 1px 13px 2px;
  background: var(--navbtn);
  border: none;
  cursor: pointer;
  font-variant: small-caps;
  font-family: var(--font-title);
  font-size: 0.9em;
  font-weight: normal;
  color: var(--black);
}
header .header-box nav .menu a, header .header-box nav .menu a:focus, header .header-box nav .menu a.active, header .header-box nav .menu a:hover {
  text-decoration: none;
}
header .header-box nav .menu a.active, header .header-box nav .menu a:hover {
  background: var(--navbtn-active);
  color: var(--white);
}
@media (width <= 780px) {
  header .header-box nav .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    top: calc(100% - 29px);
  }
  header .header-box nav #burgerBtn-toggle ~ .menu a {
    height: 0;
    padding: 0;
    border: 0;
    -webkit-transition: height 0.4s ease-in-out;
    transition: height 0.4s ease-in-out;
    display: none;
  }
  header .header-box nav #burgerBtn-toggle:checked ~ .menu a {
    height: 40px;
    padding: 5px 14px;
    -webkit-transition: height 0.4s ease-in-out;
    transition: height 0.4s ease-in-out;
    display: initial;
  }
}
header .header-box .site-logo a {
  display: block;
  margin: 8px;
  height: clamp(50px, 5em, 90px);
  background: var(--logo) no-repeat center/contain;
}
@media (width <= 780px) {
  header .header-box .site-logo a {
    height: 60px;
    margin: 6px;
  }
}

html::before {
  content: "";
  position: fixed;
  height: 100vh;
  width: 100%;
  z-index: -1;
  top: 0;
  background: #00fa9a radial-gradient(#00fa9a, #001b1b);
}

body {
  opacity: 0; /* Initial opacity set to 0 */
  scale: 1.2;
  -webkit-transition: all 1.5s ease-in-out;
  transition: all 1.5s ease-in-out; /* Transition rule for opacity */
}

body.loaded {
  scale: 1;
  opacity: 1; /* Final opacity set to 1 */
}

.mainPattern {
  display: grid;
  grid-template-columns: 74% calc(26% - 20px);
  gap: 20px;
}
@media (width <= 780px) {
  .mainPattern {
    grid-template-columns: 1fr;
    gap: 0;
  }
}

main {
  max-width: max(60%, 1200px);
  margin: 20px auto 24px;
}
@media (width <= 1250px) {
  main {
    margin: 16px 4vw 20px;
  }
}
main .box {
  padding: 2em;
  background: var(--box-bg);
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
  border-radius: 2px;
  margin-bottom: 20px;
}
main .box h2, main .box h3 {
  margin-top: 0;
}
main .box img {
  width: initial;
  max-width: 100%;
}
@media (width <= 780px) {
  main .box {
    padding: 1.4em;
  }
}
main #sommaire p {
  font-size: smaller;
  line-height: normal;
  padding: 0.2em 0 0;
}
main .grid {
  display: grid;
  gap: 3%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
main .grid img, main .grid iframe {
  width: 100%;
}
main .grid.g30 {
  grid-template-columns: 30% 67%;
}
main .grid.g60 {
  grid-template-columns: 60% 37%;
}
@media (width <= 600px) {
  main .grid.g30, main .grid.g60 {
    grid-template-columns: 1fr;
    gap: 0;
  }
}
main .blogger {
  font-family: var(--font-title);
  text-transform: uppercase;
  font-size: 0.8rem;
  color: #a3a3a3;
  padding: 0 0 0.9rem 0;
}
main .float {
  float: unset;
}
@media (width >= 600px) {
  main .float {
    max-width: 35%;
  }
  main .float.left {
    float: left;
    margin-right: 1em;
  }
  main .float.right {
    float: right;
    margin-left: 1em;
  }
}
main .float.boxed {
  background: rgba(255, 68, 0, 0.1568627451);
  padding: 1rem;
}
main .float.boxed img {
  width: 100%;
  overflow: visible;
}
main .float figcaption {
  font-size: small;
  font-style: italic;
  text-align: center;
  text-wrap: balance;
}
main .btn {
  display: inline-block;
  position: relative;
  padding: 0.5em 1.4em;
  font-size: 1em;
  cursor: pointer;
  border: 0;
  background: transparent;
  overflow: hidden;
  border-radius: 30px;
  -webkit-box-shadow: 0 0 0 0 rgba(85, 85, 85, 0.5019607843);
          box-shadow: 0 0 0 0 rgba(85, 85, 85, 0.5019607843);
  -webkit-transition: -webkit-box-shadow 0.2s;
  transition: -webkit-box-shadow 0.2s;
  transition: box-shadow 0.2s;
  transition: box-shadow 0.2s, -webkit-box-shadow 0.2s;
}
main .btn::before {
  content: "";
  position: absolute;
  top: -100px;
  left: -120px;
  width: 400px;
  height: 350px;
  background: #33592e linear-gradient(8deg, #041a05 0%, #70a666 49%, #2a2b03 100%);
  z-index: -1;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  -webkit-transform: rotate(100deg);
          transform: rotate(100deg);
}
main .btn:hover::before {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}
main .btn:hover {
  -webkit-transform: translate(4px, 0);
          transform: translate(4px, 0);
  -webkit-box-shadow: -6px 11px 20px 5px rgba(85, 85, 85, 0.5019607843);
          box-shadow: -6px 11px 20px 5px rgba(85, 85, 85, 0.5019607843);
}
main .btn._text {
  color: var(--white);
  position: relative;
  z-index: 1;
}
main .displayBtn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
main .displayBtn em {
  padding: 0.5em 0 0 0.9em;
}
@media (width <= 600px) {
  main .displayBtn {
    margin: 10px 0;
  }
}

footer {
  max-width: max(60%, 1200px);
  margin: 20px auto 24px;
  background: var(--box-bg);
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
  border-radius: 2px;
  margin-bottom: 40px;
  padding: 0.7em 0;
}
@media (width <= 1250px) {
  footer {
    margin: 16px 4vw 20px;
  }
}
footer .copyright-bar {
  text-align: center;
  font-size: smaller;
  font-variant: small-caps;
  letter-spacing: 1px;
}
footer .copyright-bar a {
  color: currentColor !important;
  font-weight: normal !important;
}/*# sourceMappingURL=test20.css.map */