@mixin transitZoom {
  html::before {
    content: "";
    position: fixed;
    width: 100%;
    z-index: -10;
    top: 0;
    background: var(--body-bg);
  }
  body {
    opacity: 0.01; /* Initial opacity set to 0 */
    scale: 0.8;
    transition: all 0.9s ease-in-out; /* Transition rule for opacity */
  }
  body.loaded {
    scale: 1;
    opacity: 1; /* Final opacity set to 1 */
  }
}
@mixin transitRight {
  html::before {
    content: "";
    position: fixed;
    width: 100%;
    z-index: -10;
    top: 0;
  }
  body {
    opacity: 0.01; /* Initial opacity set to 0 */
    transform: translateX(+50%);
    // transition: all 0.9s ease-in-out; /* Transition rule for opacity */
  }
  body.loaded {
    transition: all 0.9s ease-in-out;
    transform: translateX(0);
    opacity: 1; /* Final opacity set to 1 */
  }
  main {
    min-height: 44em; // pour que le footer soit toujours en bas de page
  }
}