footer {
  max-width: max(60%, 1200px);
  margin: 20px auto;
  // position relative car z-index ne résolvait pas l'ombre des box qui débordait depuis main (theme3).
  // position: relative;
  @include theme_box;

  .copyright-bar {
    text-align: center;
    padding: 1.2vh 0;
    font-size: smaller;
    font-variant-caps: petite-caps;
    letter-spacing: 1px;

    a, a strong {
      color: currentColor !important;
    }
  }
  
  @media (width <= 1250px) {
    margin: 10px 2vw 20px;
  }
}