header {
  @include theme_box; // Mixin définie dans _settings
  @include size; // Mixin définie dans _settings
  
  @media (width <= 760px) {
    height: auto;
  }
  
  .header-box {
    display: grid;
    grid-template-columns: calc(74% + 20px) calc(26% - 20px) 0;
    position: relative;

    @media (width <= 760px) {
      grid-template-columns: 32% 36% 32%;
    }

    nav {
      #burgerBtn-toggle { // la case à cocher ne doit apparaitre en aucun cas
        display: none;
        &:checked ~ .burgerBtn_icon {
          span {
            &:nth-child(1) {
              margin-top: 0;
              transform: rotate(45deg);
            }
  
            &:nth-child(2) {
              opacity: 0;
            }
  
            &:nth-child(3) {
              margin-top: 0;
              transform: rotate(135deg);
            }
          }
        }
      }

      .burgerBtn { // hamburger menu
        display: none;

        @media (width <= 760px) {
          display: block;
          position: absolute;
          left: 15px;
          bottom: 30px;
          background: var(--navbtn);
          height: 30px;
          width: 2rem;
          cursor: pointer;
          align-items: center;
          padding-bottom: 3px;

          &_icon {
            span {
              display: block;
              background: var(--black);
              position: absolute;
              left: 0.3rem;
              height: 3px;
              width: 1.4rem;
              transition: transform 400ms ease-in-out;
              border-radius: 2px;

              &:nth-child(1) {
                margin-top: -7px;
              }

              &:nth-child(3) {
                margin-top: 7px;
              }
            }
          }

          &:hover,
          &:checked {
            background: var(--navbtn-active);

            & ~ .menu {
              display: flex;
              flex-direction: column;
              top: calc(100% - 10px);
            }

            & ~ .menu li {
              height: 40px;
              padding: 5px 14px;
              transition: height 0.4s ease-in-out;

              a {
                display: initial;
              }
            }
          }

        }
      }

      ul { // désactive la marge définie dans settings sinon les boutons de navigation remontent
        margin-bottom: 0 !important;
      }

      .menu { // menu horizontal classique
        display: flex;
        position: absolute;
        left: 10px;
        bottom: -12px;
        padding: 0;

        @media (width <= 760px) { // disparait pour laisser apparaitre le burgerBtn
          display: none;

          li {
            height: 0;
            padding: 0;
            border: 0;
            transition: height 0.4s ease-in-out;

            a {
              display: none;
            }
          }
        }

        li {
          margin-left: 5px;
          padding: 0 13px 2px;
          background: var(--navbtn);
          border: none;
          list-style: none;
          cursor: pointer;

          &:hover {
            background: var(--navbtn-active);

            a {
              color: var(--white);
            }
          }

          a {
            font-variant: small-caps;
            font-family: var(--font-title);
            font-size: initial;
            font-weight: normal;
            color: var(--black);
            text-decoration: none;
          }
        }
      }
    }

    .site-logo a {
      display: block;
      margin: 8px;
      height: clamp(60px, 10vh, 90px);
      // height: 90px;
      background: var(--logo) no-repeat center / contain;

      @media (width <= 760px) {
        height: 60px;
        margin: 6px;
      }
    }
  }
}