:root {
  .index, .partners, .quest, .about {
    --logo: url(/assets/img/logo_dark.svg) center/contain no-repeat;
  }
  .focus, .event {
    --logo: url(/assets/img/logo.svg) center/contain no-repeat;
  }
}

header {
  max-width: max(60%, 1200px);
  margin: 20px auto 30px;
  // mixin définie dans le thème 1 à 6
  @include theme_box;
  height: 120px;
  // position relative pour la nav (title dans main est défini par rapport à body)
  position: relative;
  
  @media screen and (max-width: 1200px) {
    margin: 2vw;
  }
  
  @media screen and (max-width: 700px) {
    height: auto;
  }
  
  // un container avec 3 cases de grid pour que le logo ne soit cliquable que là où il est affiché
  .header-container {
    display: grid;
    grid-template-columns: calc(74% + 20px) calc(26% - 20px) 0;
    height: auto;

    @media screen and (max-width: 700px) {
      // la case du logo passe au centre (le menu étant en absolute, il ne dépend pas vraiment des cases)
      grid-template-columns: 34% 32% 34%;
    }
    
    nav {
      .menu-hamburger-container {
        display: none;
        position: absolute;
        left: 15px;
        bottom: 30px;
        background: $gradient;
        height: 30px;
        width: 2rem;
        cursor: pointer;
        align-items: center;
        padding-bottom: 3px;

        // le display flex fait apparaitre le menu hamburger et active son comportement à partir de 700px
        @media (max-width: 700px) {
          display: flex;
        }
      }

      // la case à cocher est cachée quelque soit la taille de l'écran
      #menu-toggle {
        display: none;
      }

      // définit les trois traits de l'icône hamburger
      .hamburger-icon span {
        display: block;
        background: $black;
        position: absolute;
        left: 0.3rem;
        height: 3px;
        width: 1.4rem;
        transition: transform 400ms ease-in-out;
        border-radius: 2px;
      }

      // on décale vers le haut le premier trait
      .hamburger-icon span:nth-child(1) {
        content: '';
        margin-top: -7px;
      }
      // on décale vers le bas le 3ème trait
      .hamburger-icon span:nth-child(3) {
        content: '';
        margin-top: 7px;
      }

      // animation du premier trait
      #menu-toggle:checked + .menu-hamburger-container span:nth-child(1) {
        margin-top: 0px;
        transform: rotate(45deg);
      }
      // on cache le trait du milieu
      #menu-toggle:checked + .menu-hamburger-container span:nth-child(2) {
        opacity: 0;
      }
      // animation du 3ème trait
      #menu-toggle:checked + .menu-hamburger-container span:nth-child(3) {
        margin-top: 0px;
        transform: rotate(135deg);
      }
      
      // couleur du bouton lors d'un survol ou un clic
      #menu-toggle:checked + .menu-hamburger-container, .menu-hamburger-container:hover {
        background: $gradient2;
      }

      .menu {
        display: flex;
        position: absolute;
        left: 10px;
        bottom: -12px;
        padding: 0;
        
        li {
          margin-left: 5px;
          padding: 2px 13px;
          background: $navbtn;
          border: none;
          list-style: none;
          cursor: pointer;
          
          a {
            font-variant-caps: petite-caps;
            font-family: $font-title;
            font-size: max(1vw, 0.9rem);
            font-weight: normal;
            color: $black;

            &:focus, &:active, &:hover {
              color: $white;
              text-decoration: none;
            }
          }
        }
      }

      @media screen and (max-width: 700px) {   
        .menu {
          display: flex;
          flex-direction: column;
          top: calc(100% - 10px);
        }       
        
        #menu-toggle ~ .menu li {
          // on le cache par défaut
          height: 0;
          padding: 0;
          border: 0;
          transition: height 0.4s ease-in-out;

          a {
            display: none;
          }
        }
        
        #menu-toggle:checked ~ .menu li {
          height: 40px;
          padding: 5px 14px;
          transition: height 0.4s ease-in-out;

          a {
            display: initial;
          }
        }
      }
    }
    
    .site-logo a {
      display: block;
      margin: 8px;
      height: 100px;
      background: var(--logo);

      @media screen and (max-width: 700px) {
        height: 70px;
        margin: 4px;
      }
    }
  }
}
