.title {
  max-width: max(60%, 1200px);
  position: absolute;
  top: calc(70px - 1.5vw);
  left: calc(50% - 570px);

  @media screen and (max-width: 1200px) {
    left: calc(50% - 44vw);
  }
  @media screen and (max-width: 700px) {
    top: 66px;
    left: calc(2vw + 15px);
    h1 {
      display: none;
    }
  }
}
main {
  max-width: max(60%, 1200px);
  margin: 10px auto 0;
  min-height: 72vh;

  @media screen and (max-width: 1200px) {
    margin: 20px 2vw;
  }

  @media screen and (max-width: 700px) {
    margin: 15px 2vw;

    #sommaire {
      display: none;
      margin: 0;
    }

    .box {
      margin-bottom: 15px;
      padding: 20px;
    }
  }

  .ref {
    font-size: smaller;
    text-align: center;
  }

  .box {
    padding: 30px;
    @include theme_box;
    margin-bottom: 20px;
  }

  #sommaire a {
    font-size: smaller;
  }
  #sommaire p {
    line-height: normal;
    padding: 0.3rem 0;
  }
}