@mixin activeMenu { // sert pour le menu actif dans la nav
  background: var(--navbtn-active);
  a{
    color: var(--white);
  }
}

@mixin size {
  max-width: max(60%, 1200px);
  margin: 20px auto 24px;

  @media (width <= 1250px) {
    margin: 2vw;
  }
}

@mixin sousTitre {
  .sous-titre {
    margin: -0.3em 0 0.4em;
    padding-left: 15px;
    color: var(--white);
    font-weight: bold;
    font-size: smaller;
    text-wrap: balance;
    line-height: normal;

    .stabilo {
      background: #faea56 linear-gradient(100deg, #e2d55c 0%, #faea56 29%, #fffc30 100%);
      padding: 2px 8px;
      color: var(--black);
      font-weight: normal;
    }
  }
}

@mixin mainPattern { // définit les box entre elles sur les portails
  .mainPattern {
    display: grid;
    grid-template-columns: 74% calc(26% - 20px);
    gap: 20px;
  
    @media (width <= 760px) {
      grid-template-columns: 1fr;
      gap: 0;
    }
  }
}

@mixin theme_box {
  background: var(--box-bg);
  box-shadow: var(--box-shadow);
  border-radius: 2px;
}
@mixin classeBox {
  .box { // utilisation via l'appel de la classe box dans main
    padding: 2em;
    @include theme_box;
    margin-bottom: 20px;

    h2, h3 {
      margin-top: 0;
    }
    img { // affichage par défaut à sa taille d'origine mais sans dépasser la box
      width: initial;
      max-width: 100%;
    }
  }
}

@mixin sommaire {
  #sommaire p {
    font-size: smaller;
    line-height: normal;
    padding: 0.2em 0 0;
  }
}

@mixin colored-box { // sert pour le logo dans about
  .colored-box {
    margin: 0 auto 1em;
    padding: 1%;
    width: 40%;
    background: var(--colored-box);
    img {
      width: 100%;
    }
  }
}

@mixin btnColor { // utilisé dans index pour le récap contenu du site
  .btnColor {
    padding: 2px 8px 3px;
    margin: 0 5px;
    background: var(--navbtn);
    border: none;
    font-variant: small-caps;
    font-family: var(--font-title);
    font-size: 0.9em;
    font-weight: normal;
    color: var(--black);
  }
  .retrait {
    margin-top: -0.7em;
    padding-left: 1em;
    line-height: normal;
    text-wrap: balance;
  }
}

@mixin footerDefault {
  margin-bottom: 60px;
  padding: 0.7em 0;

  .copyright-bar {
    text-align: center;
    font-size: smaller;
    font-variant: small-caps;
    letter-spacing: 1px;

    a {
      color: currentColor !important;
      font-weight: normal !important;
    }
  }
}