// *********** header main et footer ***********
// ** définit la largeur max sur écran large **
@mixin size {
  max-width: max(60%, 1200px);
  margin: 20px auto 24px;

  @media (width <= 1250px) {
    margin: 16px 4vw 20px;
  }
}
@mixin size-pg {
  max-width: max(60%, 1200px);
  margin: 0 auto;

  @media (width <= 1250px) {
    margin: 0 4vw 20px;
  }
}

// *********** dans main si MainPattern est dans un div ***********
@mixin sousTitre {
  .sous-titre {
    margin: -0.3em 0 0.4em;
    padding-left: 15px;
    color: var(--white);
    font-weight: bold;
    font-size: smaller;
    text-wrap: balance;
    line-height: normal;

    .stabilo {
      background: #faea56 linear-gradient(100deg, #e2d55c 0%, #faea56 29%, #fffc30 100%);
      padding: 2px 8px;
      color: var(--black);
      font-weight: normal;
    }
  }
}

// *********** MAIN ***********
@mixin mainPattern { // définit les box entre elles sur les portails
  .mainPattern {
    display: grid;
    grid-template-columns: 74% calc(26% - 20px);
    gap: 20px;
  
    @media (width <= 780px) {
      grid-template-columns: 1fr;
      gap: 0;
    }
  }
}

@mixin theme_box {
  background: var(--box-bg);
  box-shadow: var(--box-shadow);
  border-radius: 2px;
}
@mixin classeBox {
  .box { // utilisation via l'appel de la classe box dans main
    padding: 2em;
    @include theme_box;
    margin-bottom: 20px;

    h2, h3 {
      margin-top: 0;
    }
    img { // affichage par défaut à sa taille d'origine mais sans dépasser la box
      width: initial;
      max-width: 100%;
    }
    .navmobile {
      display: none;
      @media (width <= 830px) {
        display: block;
      }
    }
    @media (width <= 780px) {
      padding: 1.4em;
    }
  }
}

@mixin sommaire {
  #sommaire p {
    font-size: smaller;
    line-height: normal;
    padding: 0.2em 0 0;
  }
}

// *********** utilisation ponctuelle ***********
@mixin colored-box { // sert pour le logo dans about
  .colored-box {
    margin: 0 auto 1em;
    padding: 1%;
    width: 40%;
    background: var(--colored-box);
    img {
      width: 100%;
    }
  }
}

@mixin btnColor { // utilisé dans index pour le récap contenu du site
  .btnColor {
    a {
      margin-left: 5px;
      padding: 1px 13px 2px;
      background: var(--navbtn);
      border: none;
      border-radius: 3px;
      cursor: pointer;
      font-variant: small-caps;
      font-family: var(--font-title);
      font-size: 0.9em;
      font-weight: normal;
      color: var(--black);
      
      &, &:focus, &.active, &:hover {
        text-decoration: none;
      }

      &.active, &:hover {
        background: var(--navbtn-active);
        color: var(--white);
      }
    }
  }
  .retrait {
    margin-top: -0.7em;
    padding-left: 1em;
    line-height: normal;
    text-wrap: balance;
  }
}

@mixin btnFollow { // mettre les boutons pour naviguer depuis un article d'un portail
  .btn {
    display: inline-block;
    position: relative;
    padding: 0.3em 1.1em;
    font-size: 1em;
    cursor: pointer;
    border: 0;
    overflow: hidden;
    border-radius: 30px;
    transition: box-shadow 0.2s;
  
    &::before {
      content: '';
      position: absolute;
      top: -100px;
      left: -120px;
      width: 400px;
      height: 350px;
      background: #33592e linear-gradient(8deg, #041a05 0%, #70a666 49%, #2a2b03 100%);
      z-index: -1;
      transition: transform .5s;
      transform: rotate(100deg);
    }
  
    &:hover::before { // background au départ
      transform: rotate(0deg);
    }
  
    &._text {
      color: var(--white);
      text-align: center;
      line-height: normal;
      font-size: 0.9em;
      position: relative;
      z-index: 1; // texte au-dessus de l'animation
    }
  }
  .displayBtn {
    display: flex;
    margin-top: 0.4em;

    em {
      padding: 0.2em 0 0 0.9em;
    }
    & h1 {
      padding: 0.1em 0 0 0.5em;

      @media (width <= 640px) {
        padding: 0 0 15px 0;
        font-size: small;
      }
    }
    @media (width <= 640px) {
      flex-direction: column;
    }
  }
}

@mixin courrier { // message sur index
  .courrier {
    background: var(--white);
    max-width: 60%;
    padding: 60px 30px;
    margin: 0 auto;
    aspect-ratio: 21/29.7;
    
    p {
      font-family: var(--font-message);
      color: var(--black);
    }
    @media (width <= 1000px) {
      max-width: 80%;
    }
    @media (width <= 575px) {
      max-width: unset;
      padding: 30px 20px;
    }
  }
}

@mixin eventColor {
  background: #552610;
  p {
    font-size: 90%;
    color: var(--white);
    text-align: center;
    font-weight: bold;
    padding: 15px 15px 8px;
    margin: 0;
    &.dark {
      font-size: 80%;
      margin: 10px;
      background: #041a05cc;
      line-height: 1.4;
    }
  }
  strong {
    font-variant: small-caps;
    font-size: 1.3em;
    letter-spacing: 2px;
    color: #00c5c5;
  }
  small {
    font-size: small;
    letter-spacing: normal;
    font-variant: normal;
  }
  .displayBtn {
    justify-content: center;
    
    @media (width <= 640px) {
      flex-direction: unset;
    }
  }
}

@mixin eventBox {
  .eventBox {
    @include eventColor;
    max-width: 330px;
    margin-bottom: 1em;
    
    .txtBox {
      padding: 15px;
    }
  }
  .wrap {
    display: flex;
    gap: 2%;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 10px;
  }
}

@mixin grid { // sert souvent pour afficher les images sur les articles des portails
  .grid {
    display: grid;
    gap: 3%;
    align-items: center;
    
    img, iframe {
      width: 100%;
    }
    &.g30 {
      grid-template-columns: 30% 67%;
    }
    &.g42 {
      grid-template-columns: 42% 55%;
    }
    &.g60 {
      grid-template-columns: 60% 37%;
    }
    &.event {
      grid-template-columns: 37% 63%;
      gap: 0;
      @include eventColor;
      margin-bottom: 1em;
    }
    &.twin-img {
      grid-template-columns: 1fr 1fr;
      gap: 0;
    }
    &.triple {
      grid-template-columns: 1fr 1fr 1fr;
    }
    @media (width <= 600px) {
      &.g30,
      &.g42,
      &.g60,
      &.event,
      &.twin-img,
      &.triple {
        grid-template-columns: 1fr;
        gap: 0;
      }
    }
  }
}

@mixin float {
  --maxW: 35%;
  --defaultW: 80%;
  .float {
    float: none; // pour les petits écrans, ne "flotte pas"
    display: block;
    margin: 0 auto;
    max-width: var(--defaultW);
  
    @media (width >= 600px) {
      max-width: var(--maxW);
      &.left {
        float: left;
        margin-right: 1em;
      }
      &.right {
        float: right;
        margin-left: 1em;
      }
    }
    
    &.boxed { // encadrement de l'image
      background: #ff440028;
      padding: 1rem;
  
      img {
        width: 100%;
        // overflow: visible;
      }
    }
    .quote {
      font-size: 1.2em;
      font-style: italic;
      color: var(--title-color);
      font-family: serif;
    }
  }
}

@mixin blogger {
  .blogger {
    font-family: var(--font-title);
    text-transform: uppercase;
    font-size: 0.8rem;
    color: #a3a3a3;
    padding: 0 0 0.9rem 0;
  }
}

@mixin maskedTxt {
  // texte tronqué avec un bouton pour voir la suite
  .trimTxt {
    .toggle-input {
      display: none;
  
      &:checked ~ .fullTxt {
        max-height: fit-content; // Ajustez cette valeur en fonction de la longueur de votre contenu
        transition: max-height 0.5s ease-in-out;
  
        &::after {
          background: none;
        }
      }
  
      &:checked ~ .toggle-label .label-text {
        &::after {
          content: "↑    réduire    ↑";
        }
      }
    }
  
    .toggle-label {
      display: block; // Changé à block pour que l'ancre soit sur une nouvelle ligne
      cursor: pointer;
      background: #ff440028;
      color: #443d3d;
      font-size: 1rem;
      text-align: center;
  
      .label-text {
        &::after {
          content: "↓    tout voir    ↓";
        }
      }
    }
    
    .fullTxt {
      max-height: 320px;
      overflow: hidden;
      position: relative;
      transition: max-height 0.5s ease-in-out;
  
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 4rem; // Adjust the height of the fade-out effect
        background: linear-gradient(to bottom, rgb(from var(--box-bg) r g b / 20%), rgb(from var(--box-bg) r g b / 80%));
      }
    }
  }
}

// *********** FOOTER ***********
@mixin classCopyright {
  .copyright-bar {
    text-align: center;
    font-size: smaller;
    font-variant: small-caps;
    letter-spacing: 1px;
  
    a {
      color: currentColor !important;
      font-weight: normal !important;
    }
  }
}
@mixin footerDefault {
  margin-bottom: 30px;
  padding: 0.7em 0;
  @include classCopyright;
}
@mixin footerPg {
  padding: 0.7em 0 30px;
  @include classCopyright;
  background: var(--box-bg);
}