:root {
  .index, .projects, .quest, .about {
    --logo: url(/assets/img/logo_dark.svg) center/contain no-repeat;
  }
  .focus, .event {
    --logo: url(/assets/img/logo.svg) center/contain no-repeat;
  }
}

header {
  // remplace la navbar principale pour les pg article
  .nav-pg-retour {
    max-width: max(60%, 1200px);
    margin: 15px auto;
    padding: 0;
    display: grid;
    grid-template-columns: 77% 20%;
    gap: 3%;
    align-items: center;
    box-shadow: inset 0px -1px 0px #08590b;
  
    @media (width <= 1250px) {
      margin: 15px 2vw;
    }

    .btn-retour {
      display: inline-block;
      background: $navbtn;
      font-weight: bold;
      padding: 2px 9px;

      @media (width <= 760px) {
        font-size: 0.7rem;
        padding: 1px 6px;
      }
      
      a {
        color: $black;
      }

      &:hover {
        background: $navbtn-active;

        a {
          color: $white;
          text-decoration: none;
        }
      }
    }

    h1 {
      padding-bottom: 15px;
    }


    .site-logo a {
      display: block;
      background: var(--logo);
      margin: 8px;
      height: 80px;

      @media (width <= 760px) {
        height: 50px;
        margin: 4px;
      }
    }
  }
}

// lorsque la nav-sub est en dehors de header
.nav-sub {
  max-width: max(60%, 1200px);
  margin: 0 auto;
  padding: 0;

  @media (width <= 1250px) {
    margin: O 4vw;
  }

  // sert pour un titre qui explique la page
  .sous-titre {
    padding-left: 15px;
    font-weight: bold;
    color: $white;
  }
}