// THEME DARK GREEN

// BACKGROUND EN DEHORS DES BOX
$body-bg: #751111;

// COULEURS DES BOX
@mixin theme_box {
  background: #331616;
  color: $white;
  border-radius: 2px;
}

// LOGO UTILISÉ
$logo: $logo_dark;

// COULEURS DES BOUTONS DE NAV
$navbtn: $gradient;
$navbtn-active: $gradient2;

// COULEURS par défaut DES TITRES H1 à H6
$color-title: $green;

// aller modifier dans _header l'index du :nth-child() pour le menu actif : 1 - à la une   2 - dossiers etc
@mixin activeMenu {
  li:nth-child(5), li:hover {
    background: $navbtn-active;
    
    a {
      color: $white;
    }
  }
}

// disposition des textes et/ou boxes et espacements
@mixin mainPattern {
  display: grid;
  grid-template-columns: 74% calc(26% - 20px);
  gap: 20px;
}