html {
  // la ligne suivante est commentée car une seule variante de thème est définie que le navigateur soit en mode normal ou sombre
  // color-scheme: light dark;
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'Noto';
  src: url(../fonts/NotoSans-Light.ttf);
  font-display: swap;
}
@font-face {
  font-family: 'Noto-b';
  src: url(../fonts/NotoSans-Regular.ttf);
  font-display: swap;
}
$font-normal: 'Noto', sans-serif;
$font-title: 'Noto-b', sans-serif;

// @import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&family=Noto+Sans+Bold:bold,wght@400&display=swap&font-variation-settings="smcp" 1');

// $font-normal: "Noto Sans", sans-serif;
// $font-title: "Noto Sans Bold", sans-serif;

// Variables couleurs
$gradient: #a5c3a1 linear-gradient(80deg, #a5c3a1 0%, #b2d9ac 14%, #f2fff0 100%);
$gradient2: #609959 linear-gradient(220deg, #33c138 0%, #759370 29%, #00e309 100%);
$logo_dark: url(/assets/img/logo_dark.svg);
$logo_classic: url(/assets/img/logo.svg);
$white: #eee;
$black: #111;

$link-dark: #48aeff;
$linkfocus-dark: #00d668;
$link-light: blue;
$linkfocus-light: darkblue;

$navbtn: $gradient;
$navbtn-active: $gradient2;

// Une classe pour chaque thème (les variables globale css (:root) permettent d'avoir des variables différentes sur chaque classe
// Ce n'était pas possible avec les variables sass car elles disparaissent lors de la compilation
// Il suffit pour les appliquer de lier la classe à body dans l'Html
:root {
  .about {
    background: #3a3a3a;
    --color-title: #00d668;
    --bg-box: #072508;
    --shadow-box: none;
    // btn actif: 1;
    nav {
      li:nth-child(1), li:hover {
        background: $navbtn-active;
        a{
          color: $white;
        }
      }
    }
  }
  .index {
    background: #072508;
    --color-title: #00d668;
    --bg-box: #3a3a3a;
    --shadow-box: none;
    // btn actif: 2;
    nav {
      li:nth-child(2), li:hover {
        background: $navbtn-active;
        a{
          color: $white;
        }
      }
    }
  }
  .focus {
    background: #3a3a3a;
    color: $black;
    --color-title: #27742a;
    --bg-box: papayawhip;
    --shadow-box: none;
    // btn actif: 3;
    nav {
      li:nth-child(3), li:hover {
        background: $navbtn-active;
        a{
          color: $white;
        }
      }
    }
  }
  .event {
    background: #592913;
    color: $black;
    --color-title: #27742a;
    --bg-box: antiquewhite;
    --shadow-box: -1px 17px 20px 10px #bb52227a;
    // btn actif: 4;
    nav {
      li:nth-child(4), li:hover {
        background: $navbtn-active;
        a{
          color: $white;
        }
      }
    }
  }
  .projects {
    background: #041429;
    --color-title: #00d668;
    --bg-box: #302b3f;
    --shadow-box: none;
    // btn actif: 5;
    nav {
      li:nth-child(5), li:hover {
        background: $navbtn-active;
        a{
          color: $white;
        }
      }
    }
  }
  .quest {
    background: #751111;
    --color-title: #00d668;
    --bg-box: #331616;
    --shadow-box: none;
    // btn actif: 6;
    nav {
      li:nth-child(6), li:hover {
        background: $navbtn-active;
        a{
          color: $white;
        }
      }
    }
  }
  
  // dark background classes (coul des textes, couleurs du "strong" et des ancres par défaut)
  .index, .projects, .quest, .about {
    // couleurs définies par défaut modifiables par thème
    --tabs_content-bg: lightblue;
    --tabs_border: darkblue;
    --tabs-hover: lightskyblue;
    color: $white;
    --color-strong: #dbecd1;
    a, a strong {
      color: $link-dark;
    }
    a:hover, a:focus, a:active, a:hover strong, a:focus strong, a:active strong {
      color: $linkfocus-dark;
    }
  }

  // light background classes (coul des textes, couleurs du "strong" et des ancres par défaut)
  .focus, .event {
    // couleurs définies par défaut modifiables par thème
    --tabs_content-bg: lightblue;
    --tabs_border: darkblue;
    --tabs-hover: lightskyblue;
    color: $black;
    --color-strong: #3d6526;
    a, a strong {
      color: $link-light;
    }
    a:hover, a:focus, a:active, a:hover strong, a:focus strong, a:active strong {
      color: $linkfocus-light;
    }
    // body-container n'étant utilisé que pour pg, on désactive l'ombre des boxes pour le copyright-bar
    .body-container {
      --shadow-box: none;
    }
  }

  a {
    text-decoration: none;
    font-weight: bold;
  }
  a:hover, a:focus, a:active {
    text-decoration: underline;
    transform: scale(1.05);
  }
}

// Si un jour, je veux un thème clair par défaut et un thème sombre dit "dark" s'il est choisi dans le navigateur de l'internaute
// @media (prefers-color-scheme: dark) {
// }

@mixin theme_box {
  background: var(--bg-box);
  box-shadow: var(--shadow-box);
  border-radius: 2px;
}