// themes -> variables des couleurs et logos utilisés dans tout le projet

// je pourrais différencier deux color-scheme qui tiendrait compte du paramétrage par défaut du navigateur en mode clair ou sombre
// color-scheme: light / dark;
// et une média query pour l'autre color-scheme: @media (prefers-color-scheme: dark) {}

@mixin declare-css-variable($name, $value) {
  --#{$name}: #{$value};
}

// variables pour tester les onglets (design-urbain)
@mixin onglets {
  @include declare-css-variable('tabs_content-bg', 'lightblue');
  @include declare-css-variable('tabs_border', 'darkblue');
  @include declare-css-variable('tabs-hover', 'lightskyblue');
}

// variables globales
@include declare-css-variable('white', #eee);
@include declare-css-variable('black', #111);

// les dégradés qui servent pour la nav
@include declare-css-variable('navbtn', '#a5c3a1 linear-gradient(80deg, #a5c3a1 0%, #b2d9ac 14%, #f2fff0 100%)');
@include declare-css-variable('navbtn-active', '#609959 linear-gradient(220deg, #33c138 0%, #759370 29%, #00e309 100%)');

@mixin fonts-noto {
  @font-face {
    font-family: 'noto_sanslight';
    src: url('../fonts/notosans-light-webfont.woff2') format('woff2'),
         url('../fonts/notosans-light-webfont.woff') format('woff');
    font-display: swap;
  }
  @font-face {
    font-family: 'noto_sansregular';
    src: url('../fonts/notosans-regular.woff2') format('woff2'),
         url('../fonts/notosans-regular.woff') format('woff');
    font-display: swap;
  }
  @include declare-css-variable('font-normal', 'noto_sanslight, sans-serif');
  @include declare-css-variable('font-title', 'noto_sansregular, sans-serif');
}

@mixin fonts-kalam {
  @font-face {
    font-family: 'kalamlight';
    src: url('../fonts/kalam_light-webfont.woff2') format('woff2'),
         url('../fonts/kalam_light-webfont.woff') format('woff');
    font-display: swap;
  }
  @include declare-css-variable('font-message', 'kalamlight, cursive');
}

@mixin themes-dark {
  @include declare-css-variable('logo', 'url(../img/logo_dark.svg)');
  @include declare-css-variable('logoSmall', 'url(../img/logo-small-dark.svg)');
  @include declare-css-variable('link', #0eb9cc);
  @include declare-css-variable('linkfocus', #00d668);
  @include declare-css-variable('strong-color', #dbecd1);
  @include declare-css-variable('txt-color', 'var(--white)');
  
}

@mixin themes-light {
  @include declare-css-variable('logo', 'url(../img/logo.svg)');
  @include declare-css-variable('logoSmall', 'url(../img/logo-small.svg)');
  @include declare-css-variable('link', #4040ff);
  @include declare-css-variable('linkfocus', #087480);
  @include declare-css-variable('strong-color', #3d6526);
  @include declare-css-variable('txt-color', 'var(--black)');
  
}

@mixin theme-about {
  @include declare-css-variable('body-bg', #3a3a3a);
  @include declare-css-variable('title-color', #00d668);
  @include declare-css-variable('box-bg', #072508);
  @include declare-css-variable('box-shadow', 'none');
  @include declare-css-variable('colored-box', 'var(--white)');
  
}

@mixin theme-index {
  @include declare-css-variable('body-bg', #072508);
  @include declare-css-variable('title-color', #00d668);
  @include declare-css-variable('box-bg', #3a3a3a);
  @include declare-css-variable('box-shadow', 'none');
  
}

@mixin theme-focus {
  @include declare-css-variable('body-bg', #3a3a3a);
  @include declare-css-variable('title-color', #27742a);
  @include declare-css-variable('box-bg', papayawhip);
  @include declare-css-variable('box-shadow', 'none');
  
}

@mixin theme-event {
  @include declare-css-variable('body-bg', '#c7693e radial-gradient(#c7693e, #3e1c0c)');
  @include declare-css-variable('title-color', #27742a);
  @include declare-css-variable('box-bg', antiquewhite);
  @include declare-css-variable('box-shadow', 'none');
  @include declare-css-variable('strong-color', #068686);
  
}

@mixin theme-projects {
  @include declare-css-variable('body-bg', #041429);
  @include declare-css-variable('title-color', #00d668);
  @include declare-css-variable('box-bg', #302b3f);
  @include declare-css-variable('box-shadow', 'none');
  
}

@mixin theme-quest {
  @include declare-css-variable('body-bg', #751111);
  @include declare-css-variable('title-color', #00d668);
  @include declare-css-variable('box-bg', #331616);
  @include declare-css-variable('box-shadow', 'none');
  
}

@mixin theme-links {
  @include declare-css-variable('body-bg', '#00fa9a radial-gradient(#00fa9a, #001b1b)');
  @include declare-css-variable('title-color', #068686);
  @include declare-css-variable('box-bg', #caffee);
  @include declare-css-variable('box-shadow', 'none');
  @include declare-css-variable('strong-color', #068686);
  
}

// @include declare-css-variable('', '');
// @include declare-css-variable('', '');