@font-face {
  font-family: 'Noto';
  src: url(../fonts/NotoSans-Light.ttf);
}
@font-face {
  font-family: 'Noto-b';
  src: url(../fonts/NotoSans-Regular.ttf);
}

// variables
$font-normal: 'Noto', sans-serif;
$font-title: 'Noto-b', sans-serif;
$green: #00d668;
$green-medium: #019247;
$dark-green: #27742a;
$dark-blue: #041429;
$orange: #592913;
// $red: #CE2B37;
$light-grey: #ccc;
$white: #FFFEFE;
$black: #111111;
$dark: #3a3a3a;
$gradient: #a5c3a1 linear-gradient(80deg, #a5c3a1 0%, #b2d9ac 14%, #f2fff0 100%);
$gradient2: #609959 linear-gradient(220deg, #33c138 0%, #759370 29%, #00e309 100%);
$link: #48aeff;
$linkfocus: darkblue;
$logo_dark: url(./../../assets/img/logo_dark.svg);
$logo_classic: url(./../../assets/img/logo.svg);